.bill{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.bill__data{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
}

.bill__data p{
    flex: 1;
}


@media (max-width:500px) {
    .bill__data{
        flex-direction: column;
    }
}